@use '../abstracts' as *;

.productive {
  padding: rem(90) 0;
}

.productive .container {
  display: flex;
  flex-direction: column-reverse;
  max-width: rem(640);
  
  @include breakpoint-up('large') {
    flex-direction: row-reverse;
    gap: rem(40);
    max-width: rem(1200);
  }
}

.productive__text {
  margin-top: rem(40);
}

.productive__title {
  font-size: rem(18);
  
  @include breakpoint-up('medium') {
    font-size: rem(22);
  }
  
  @include breakpoint-up('large') {
    font-size: rem(40);
  }
  
  @include breakpoint-up('very-large') {
    font-size: rem(50);
  }
}

.productive__link {
  display: flex;
  align-items: center;
  gap: rem(10);
  border-bottom: rem(1) solid $cyan;
  padding-bottom: rem(5);
  width: 20ch;
  color: $cyan;
  font-size: rem(12);
  
  @include focus-visible;
  @include on-event {
    border-color: $white;
    color: $white;
    
    .productive__svg use {
      fill: $white;
    }
  }
  
  @include breakpoint-up('large') {
    font-size: rem(14);
  }
}

.productive__image {
  
  @include breakpoint-up('small') {
    margin: 0 auto;
    max-width: rem(400);
  }
  
  @include breakpoint-up('small') {
    max-width: rem(450);
  }
}